{% extends "admin/base_site.html" %}

{% block nav-global %}
    {{ block.super }}
    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
        <div class="sidebar-module" style="margin-right: 20px;">
            <h2>Database Procedures</h2>
            <ul>
                <li><a href="{% url 'schedule_practice_view' %}">Schedule Practice</a></li>
                <li><a href="{% url 'schedule_game_view' %}">Schedule Game</a></li>
                <li><a href="{% url 'update_game_details_view' %}">Register/Update WIN</a></li>
            </ul>
        </div>
        <div class="sidebar-module">
            <h2>Database Views</h2>
            <ul>
                <li><a href="{% url 'game_data_view' %}">Game Data</a></li>
                <li><a href="{% url 'player_game_schedule_view' %}">Player Game Schedules</a></li>
                <li><a href="{% url 'player_practice_schedule_view' %}">Player Practice Schedules</a></li>
                <li><a href="{% url 'university_teams_view' %}">University Teams</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
