{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 40vh;">
    <div style="text-align: center; width: 100%;">
        <h2>Increase Facility Capacity</h2>
        <form method="post" style="display: inline-block; margin-top: 20px;">
            {% csrf_token %}
            {% for field in form %}
                <div style="margin-bottom: 20px;">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <br>
                        <span style="display: block; margin-left: 35%; font-size: 0.8em; color: #f5faf6; margin-top: 5px;">{{ field.help_text }}</span>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="{% trans 'Submit' %}" class="default">
            <a href="/admin/databall_app/facilities/" class="button">{% trans 'View Facilities Table' %}</a>
        </form>
    </div>
</div>
{% endblock %}
