{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="custom-form-container">
    <form method="post" class="submit-row">
        {% csrf_token %}
        <fieldset class="module aligned">
            <h1>{% trans 'Update Game Details' %}</h1>
            {{ form.non_field_errors }}
            {% for field in form.visible_fields %}
            <div class="form-row">
                {{ field.errors }}
                <label class="label" for="id_{{ field.name }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </fieldset>
        <div class="button-container">
            <input type="submit" value="{% trans 'Update' %}" class="default">
            <a href="{% url 'admin:index' %}" class="default button">{% trans 'Back to Home Page' %}</a>
            <a href="/admin/databall_app/game/" class="default button">{% trans 'View Game Table' %}</a>
        </div>
    </form>
</div>
{% endblock %}
